</main>

<footer>
    <div class="footerElements">
        <div class="footerLinks">
            <h4>Resources</h4>
            <p>Products</p>
            <p>Tutorials</p>

        </div>
        <div class="footerLinks">
            <h4>Services</h4>
            <p>Customer Support</p>
            <p>Refund Policy</p>

        </div>
        <div class="footerLinks">
            <h4>Legal</h4>
            <p>Terms</p>
            <p>Privacy</p>

        </div>
    </div>
</footer>
</body>

</html>