<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenFlow</title>
    <link rel="stylesheet" href="/main.css">

</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img id="nav-logo" src="/logo.webp">
            </a>
            <div class="navLinks">
                <a href="/">Home</a>
                <a href="#">About</a>
                <a href="/product">Products</a>
                <a href="#">Support</a>
                <a href="/signin">Sign-in</a>
            </div>
        </nav>
    </header>

    <main>