<%- include('partials/header') %>

    <body class="center">
        <h1>Welcome to ZenFlow!</h1>
        <h3>The wellness app tailored for you</h3>
        <img src="/img/meditate.jpg" alt="a woman meditating">
        <h4><a href="/signin">Sign in</a> to get started</h4>
    </body>

    <%- include('partials/footer') %>