<%- include('partials/header') %>


    <img class="center" src="/img/plank.jpg" alt="a man doing a plank exercise">

    <a class="more-margin" href="/auth/google">Login with Google</a>

    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>

    <a class="more-margin" href="/signup">Create an Account</a>


    <%- include('partials/footer') %>